/* Google fonts & font family
==================================================*/

@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700);

/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #ebdbcc;
}

.item-section {
    margin-top: 235px;
    height: calc(100vh - 235px);
}

.overflow-scrollable {
    overflow-y: scroll;
}

.menu-swiper{
    margin-top: 185px;
    margin-left: 12px;
    cursor: pointer;
    opacity: 1;
}

.swiper-slide{
    font-size: 16px;
    font-weight: 400;
    width: auto!important;
    color: #8A8A8A;
}

.swiper-slide-active{
    font-size: 16px;
    font-weight: 600;
    width: auto!important;
    color: #D33939;
}

.current-position {
    transition: all ease-in-out 0.3s;
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.animation-position {
    transition: all ease-in-out 0.5s;
    transform: translateX(-100px);
    opacity: 0;
    height: 0!important;
    width: 0!important;
    visibility: hidden;
    margin:0 !important;
    padding: 0 !important;
}
.animation-position > * {
    display: none;
    margin: inherit;
    padding: inherit;
}

.hidden {
    transition: all ease-in-out 0.5s;
    visibility: hidden;
    opacity: 0;
}
